.box{
    h2{
        text-align: center;
        color: white;
    }
    div{
        display: grid;
        grid-template-columns: 40% 40%;
        text-align: center;
        color: white;
        p{
            border: solid 1px white;
        }
    }
}